.cardsChild{
    margin-top: 5vh;
    width:200px ;
    box-shadow: 0px 0px 20px 0px rgba(16, 140, 223, 0.828);
    border-radius: 10px ;
    transition: 1s ease-in-out;
    background-color: white;
    text-align: center;
    }
    .cardsChild:hover{
        transform: scale(1.1);
    }
    
    