*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.CardMain{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    flex-wrap: wrap;
    gap: 10px;
    
}
